
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="Copyright" content="宜联科技" />
    <meta name="author" content="">

    <!--<meta http-equiv="refresh" content="20">-->

    <link rel="shortcut icon" href="../images/favicon/favicon.png" type="image/x-icon">
    <link rel="icon" href="../images/favicon/favicon.png" type="image/x-icon">

    <title>遂宁市安居区法院</title>

    <link href="~/Areas/Mobile/Content/JudgeStudio/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/Mobile/Content/JudgeStudio/css/normalize.css" rel="stylesheet" />
    <link href="~/Areas/Mobile/Content/JudgeStudio/css/tjs.css" rel="stylesheet" />
</head>
<body data-spy="scroll">
    <div class="headbox">
        <div class="header">
            <div class="fyname row text-left vertical-middle-sm">
                <div class="col-sm-8 text-left">
                    <h1>遂宁市安居区人民法院</h1>
                    <p class="lead">诉讼服务中心——温馨调解室</p>
                </div>
            </div>
        </div>
    </div>
    <div class="pagebg">
        <div class="page">
            <div class="row">
                <div class="panel panel-primary divbgtransparent_white7 tjsbox">
                    <div class="panel-heading">
                        <h1 class="panel-title">法官工作室<small>（空闲中……）</small></h1>
                    </div>
                    <div class="panel-body">
                        <h2></h2>
                    </div>
                </div>

                <!--<div class="panel panel-primary divbgtransparent_white8 tjsbox">
                    <div class="panel-heading">
                        <h1 class="panel-title"><%=RoomName%><small>（正在调解——预计调解时间：<%=formatDate(rs("dPreStaTime"),4)%>至<%=formatDate(rs("dPreEndTime"),4)%>）</small></h1>
                    </div>
                    <div class="panel-body text-left tjing<%=RoomOrder%>">
                        <div class="page-header">
                            <h2>调解员：<%=rs("RealName")%></h2>
                        </div>
                        <div class="thumbnail">
                            <img src="../<%=rs(" UserPic")%>" alt="">
                            <div class="caption">
                                <p><%=rs("UserIntroduce")%></p>
                            </div>
                        </div>
                        <div class="page-header">
                            <h2>调解事项</h2>
                        </div>
                        <div class="thumbnail">
                            <div class="caption">
                                <p><%=rs("sCaseIntroduce")%></p>
                            </div>
                        </div>
                    </div>
                </div>-->

            </div>
        </div>
    </div>
    <div class="footer divbgtransparent_white7"><div class="copyrights"></div></div>
</body>
</html>
