@using EFModels;
@{
    var list = ViewBag.roomList as List<Laws>;
}
<link href="~/Areas/Admin/Content/Calendar/skin/WdatePicker.css" rel="stylesheet" />
<script src="~/Areas/Admin/Content/Calendar/WdatePicker.js"></script>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">添加法庭案件</h4>
        </div>
        <!--主体内容-->
        <div class="modal-body">
            <form class="form-horizontal" role="form" id="addFrom">
                <div class="form-group">
                    <label class="col-sm-2 control-label">案号</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="请输入案号" name="sCaseNum">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">案由</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="案由" name="sCaseName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">当事人</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="2" name="sCaseIntroduce" placeholder="请输入当事人"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">法庭选择</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="iLawsId" name="iLawsId">
                            @foreach (var m in list)
                            {
                                <option value="@m.ID">
                                    @m.sLawName
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">开庭时间</label>
                    <div class="col-sm-10">
                        <input type="text" id="dPreStaTime" name="dPreStaTime"  class="form-control" readonly="readonly" value="@DateTime.Now.ToString("yyyy/MM/dd HH:mm:ss")"
                               style="width:38%;float:left" placeholder="点击选择开始时间"  onClick="WdatePicker({dateFmt:'yyyy/MM/dd HH:mm:ss'})">
                        <input type="text" id="dPreEndTime" class="form-control" readonly="readonly"
                               name="dPreEndTime" style="width:38%;float:left;margin-left:10px;" placeholder="点击选择结束时间" onClick="WdatePicker({dateFmt:'yyyy/MM/dd HH:mm:ss'})">
                    </div>
                </div>
            </form>
        </div>
        <!--主体内容-->
        <div class="modal-footer" style="padding:10px;">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button id="ok" type="button" class="btn btn-primary">确认提交</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
      
        var modal = new myBootstarp();

        //添加操作
        $('#ok').on("click", function () {
            var bootstrapValidator = $("#addFrom").data('bootstrapValidator');
            bootstrapValidator.validate();
            var res = bootstrapValidator.isValid();
            if (res) {//验证通过
                var StaTime = $('#dPreStaTime').val();//开始时间
                var EndTime = $('#dPreEndTime').val();//结束时间
                if (StaTime.length == 0 || EndTime.length == 0) return modal.alert("开庭开始和结束时间必填");
                 if (new Date(EndTime).getTime() - new Date(StaTime).getTime() <= 0) return modal.alert("结束时间必须大于开始时间");
                 modal.Ajax("/Admin/LawsCase/Insert", $("#addFrom").serialize(), function (r) {
                    modal.alert("添加成功");
                    $('#LawsCase').datagrid('reload');
                    modal.hideModal();
                });
            }
        });
        //表单验证
        $('#addFrom').bootstrapValidator({
            live: 'disabled',
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                sCaseNum: {
                    validators: {
                        notEmpty: {
                            message: '案号不能为空'
                        }
                    }
                },
                sCaseName: {
                    validators: {
                        notEmpty: {
                            message: '当事人不能为空'
                        }
                    }
                },
                sCaseIntroduce: {
                    validators: {
                        notEmpty: {
                            message: '案由不能为空'
                        }
                    }
                },
                iLawsId: {
                    validators: {
                        notEmpty: {
                            message: '请选择法庭'
                        }
                    }
                }
            }
        });
    });
</script>

