@{
    ViewBag.Title = "法庭案件管理";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_EuiAndBoot.cshtml";
}
<script src="~/Scripts/mylib/myboot.js"></script>
<link href="~/Areas/Admin/Content/Calendar/skin/WdatePicker.css" rel="stylesheet" />
<script src="~/Areas/Admin/Content/Calendar/WdatePicker.js"></script>

<script src="~/Content/kindeditor/kindeditor.js"></script>
<script src="~/Content/kindeditor/lang/zh_CN.js"></script>
<script src="~/Scripts/plug-in/kindeditor.js"></script>
<table id="LawsCase"></table>
<div id="LawsCase_toolbar" style="padding:8px;">
    <form id="search">
        <button type="button" class="btn btn-success btn-sm LawsCase_add">添加案件</button> &nbsp;
        <button type="button" class="btn btn-danger  btn-sm LawsCase_cancel">删除案件</button>
        &nbsp; &nbsp; &nbsp; &nbsp;
        <span>模糊查询:</span><input type="text" class="form-control" placeholder="案号/法庭名称"
                                 style="width:200px;height:30px;vertical-align:bottom;display:inline-block">
        <button type="button" class="btn btn-default  btn-sm searchText">查 询</button>
    </form>
</div>
<script type="text/javascript">
    $(function () {

        var modal = new myBootstarp();

        //模糊查询
        $('.searchText').on("click", function () {
            var searchText = $('#search input').val();
            $('#LawsCase').datagrid({
                queryParams: {
                    searchText: searchText
                }
            });
        });

        //添加操作
        $('.LawsCase_add').on("click", function () {
             modal.creatModal("/Admin/LawsCase/Add");
        });

        //编辑操作
        function LawsCaseUpdate(ID) {
            modal.creatModal("/Admin/LawsCase/Edit?iLawsCaseId=" + ID);
        }

        //删除操作
        $('.LawsCase_cancel').on("click", function () {
            var selected = $('#LawsCase').datagrid('getSelections');
            if (selected.length>0) {
                var array = [];
                $(selected).each(function () {
                    array.push(this.ID);
                });
                modal.Confirm("确定要删除所选择的数据", function () {
                    modal.Ajax("/Admin/LawsCase/Cancel", { Ids: array.join() }, function (r) {
                        $('#LawsCase').datagrid("reload");
                        alert("删除成功");
                    });
                });
            }
            else {
                alert("请选择一条数据进行操作!");
            }
        });

        /*!
        * method:案件数据列表(datagrid)的绑定
        */
        $('#LawsCase').datagrid({
            fit:true,
            url: '/Admin/LawsCase/List',
            toolbar: $('#LawsCase_toolbar'),
            fitColumns:true,
            rownumbers:true,
            striped: true,
            pagination: true,
            pageSize:20,
            loadMsg: "正在加载...",
            columns: [[
                { field: 'sCaseNum', title: '案号', align: 'center', sortable: true, width: 80 },
              // { field: 'sCaseName', title: '案由', align: 'center', sortable: true, width: 80 },
                { field: 'sLawName', title: '法庭名称', align: 'center', sortable: true, width: 60 },
             //   { field: 'sCaseIntroduce', title: '', align: 'center', sortable: true, width: 120 },
                {
                    field: 'fsdf', title: '预计时间段', align: 'center', sortable: false, width: 150, formatter: function (value, row) {
                        if (row.dPreStaTime && row.dPreEndTime) {
                            return row.dPreStaTime + "---" + row.dPreEndTime;
                        }
                        else return "--";
                    }
                },
                { field: 'dAclStaTime', title: '实际开始时间', align: 'center', sortable: true, width: 120 },
                { field: 'dAclEndTime', title: '实际结束时间', align: 'center', sortable: true, width: 120 },
                {
                    field: 'ds', title: '操作', align: 'center', width:120, formatter: function (value, rows) {
                        var html = [];
                        html.push('<button type="button" class="btn btn-info btn-sm LawsCase_edit" data-id="' + rows.ID + '">编 辑</button>&nbsp&nbsp');
                        html.push('<button type="button" class="btn btn-danger btn-sm LawsCase_delete" data-id="' + rows.ID + '">删 除</button>&nbsp&nbsp');
                        if (rows.dAclEndTime==null)
                            html.push('<button type="button" class="btn btn-primary btn-sm LawsCase_over" data-id="' + rows.ID + '">结束开庭</button>');
                        else
                            html.push('<button type="button" class="btn btn-primary btn-sm" disabled="disabled">已经结束</button>');
                        return html.join('');
                    }
                },
            ]],
            onLoadSuccess: function () {
                $('.LawsCase_edit').on("click", function (event) {
                    event.stopPropagation();
                    var ID = $(this).attr("data-id");
                    LawsCaseUpdate(ID);
                });

                //删除事件绑定
                $('.LawsCase_delete').on("click", function (event) {
                    event.stopPropagation();
                    var ID = $(this).attr("data-id");
                    modal.Confirm("确认要删除这条数据?", function () {
                        modal.Ajax("/Admin/LawsCase/Cancel", { Ids: ID }, function (r) {
                            $('#LawsCase').datagrid("reload");
                        });
                    });
                });

                //结束案件绑定
                $('.LawsCase_over').on("click", function (event) {
                    event.stopPropagation();
                    var ID = $(this).attr("data-id");
                    modal.creatModal("/Admin/LawsCase/Over?iLawsCaseId=" + ID);
                });

            }
        });
    });

</script>