<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link href="~/Areas/Admin/Content/easyui/themes/material/easyui.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/easyui/themes/icon.css" rel="stylesheet" />

    @*<link href="~/Areas/Admin/Content/assets/css/bootstrap.min.css" rel="stylesheet" />*@

    <script src="~/Areas/Admin/Content/assets/js/jquery-2.0.3.min.js"></script>
    <script src="~/Areas/Admin/Content/easyui/jquery.easyui.min.js"></script>

    <link href="~/Areas/Admin/Content/bootstrapValidator/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/bootstrapValidator/css/bootstrapValidator.min.css" rel="stylesheet" />
  
    <script src="~/Areas/Admin/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Areas/Admin/Content/bootstrapValidator/js/bootstrapValidator.min.js"></script>

    <script src="~/Scripts/mylib/defaults.js"></script>

    <title>@ViewBag.Title</title>
</head>
<body style="margin:2px;">
    @RenderBody()
</body>
</html>
