
<form id="add_form">
    <table class="gridtable">
        <tr>
            <td>按钮名称</td>
            <td>
                <input class="easyui-textbox" name="sButtonName" />
            </td>
        </tr>
        <tr>
            <td>按钮标识</td>
            <td>
                <input class="easyui-textbox" name="sButtonEn_Name" />
            </td>
        </tr>
        <tr>
            <td>按钮样式</td>
            <td>
                <select class="easyui-combobox" name="sButtonIcon">
                    <option value="icon-add">icon-add</option>
                    <option value="icon-edit">icon-edit</option>
                    <option value="icon-remove">icon-remove</option>
                    <option value="icon-clear">icon-clear</option>
                    <option value="icon-ok">icon-ok</option>
                    <option value="icon-no">icon-no</option>
                    <option value="icon-cancel">icon-cancel</option>
                    <option value="icon-undo">icon-undo</option>
                    <option value="icon-redo">icon-redo</option>
                    <option value="icon-tip">icon-tip</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>排 序</td>
            <td>
                <input class="easyui-textbox" name="iOrder" />
            </td>
        </tr>
</table>
</form>
