@{
    ViewBag.Title = "管理法官";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_EuiAndBoot.cshtml";
}
<script src="~/Scripts/mylib/myboot.js"></script>
<script src="~/Scripts/plug-in/picture/upload.js"></script>
<table id="User" style="height:100%;width:100%"></table>
<div id="User_toolbar" style="padding:8px;">
    <form id="search">
        <button type="button" class="btn btn-success btn-sm adminUser_add">新增法官</button> &nbsp;
        <button type="button" class="btn btn-danger  btn-sm adminUser_cancel">删除法官</button>
        &nbsp; &nbsp; &nbsp; &nbsp;
        <span>模糊查询:</span><input type="text" class="form-control" placeholder="姓名"
                style="width:200px;height:30px;vertical-align:bottom;display:inline-block">
        <button type="button" class="btn btn-default  btn-sm searchText">查 询</button>
    </form>
</div>
<script type="text/javascript">
    $(function () {

        var modal = new myBootstarp();

        //模糊查询
        $('.searchText').on("click", function () {
            var searchText = $('#search input').val();
            $('#User').datagrid({
                queryParams: {
                    searchText:searchText
                }
            });
        });

        //添加操作
        $('.adminUser_add').on("click", function () {
            modal.creatModal("/Admin/User/Add");
        });

        //编辑操作
        function userUpdate(ID) {
            modal.creatModal("/Admin/User/Edit?ID=" + ID, function () {

            });
        }

        //删除操作
        $('.adminUser_cancel').on("click", function () {
            var selected = $('#User').datagrid('getSelections');
            if (selected.length > 0) {
                var array = [];
                $(selected).each(function () {
                    array.push(this.ID);
                });
                modal.Confirm("确认要删除所选择的数据", function () {
                    modal.Ajax("/Admin/User/Cancel", { Ids: array.join() }, function (r) {
                        $('#User').datagrid("reload");
                    });
                })
            }
            else {
                alert("请选择一条数据进行操作!");
            }
        });

        //查看评价
        function userAppraise(ID) {
            modal.creatModal("/Admin/User/Appraise?iUserId=" + ID);
        }

        /*!
        * method:法官数据列表(datagrid)的绑定
        */
        $('#User').datagrid({
            fit: true,
            url: '/Admin/User/List',
            toolbar: $('#User_toolbar'),
            fitColumns: true,
            rownumbers: true,
            striped: true,
            pagination: true,
            pageSize: 10,
            loadMsg: "正在加载...",
            columns: [[
                {
                    field: 'UserPic', title: '照片', align: 'center', width: 80, sortable: true, formatter: function (value) {
                        return '<img src="' + value + '" style="height:100px;width:80px;" />';
                    }
                },
                { field: 'RealName', title: '姓名', align: 'center', sortable: true, width: 80 },
                { field: 'Dept', title: '部门', align: 'center', sortable: true, width: 80 },
                { field: 'Job', title: '职务', align: 'center', sortable: true, width: 120 },
                { field: 'Mobile', title: '手机', align: 'center', sortable: true, width: 120 },
                { field: 'DeptOrder', title: '部门序号', align: 'center', sortable: true, width: 60 },
                { field: 'UserOrder', title: '人员序号', align: 'center', sortable: true, width: 60 },
                {
                    field: 'ID', title: '操作', align: 'center', width: 100, formatter: function (value) {
                        var html = [];
                        html.push('<button type="button" class="btn btn-info btn-sm adminUser_edit" data-id="' + value + '">编 辑</button>&nbsp&nbsp');
                        html.push('<button type="button" class="btn btn-danger btn-sm adminUser_delete" data-id="' + value + '">删 除</button>&nbsp&nbsp');
                        html.push('<button type="button" class="btn btn-primary btn-sm adminUser_appraise" data-id="' + value + '">查看评论</button>');
                        return html.join('');
                    }
                },
            ]],
            onLoadSuccess: function () {
                $('.adminUser_edit').on("click", function (event) {
                    event.stopPropagation();
                    var ID = $(this).attr("data-id");
                    userUpdate(ID);
                });
                //查看评价的事件绑定
                $('.adminUser_appraise').on("click", function (event) {
                    event.stopPropagation();
                    var ID = $(this).attr("data-id");
                    userAppraise(ID);
                });

                //删除事件绑定
                $('.adminUser_delete').on("click", function (event) {
                    event.stopPropagation();
                    var ID = $(this).attr("data-id");
                    modal.Confirm("确认要删除这条数据?", function () {
                        modal.Ajax("/Admin/User/Cancel", { Ids: ID }, function (r) {
                            $('#User').datagrid("reload");
                        });
                    })
                });
            }
        });
    });

</script>