
<link href="~/Areas/Admin/Content/icheck/skins/square/blue.css" rel="stylesheet" />

<script src="~/Areas/Admin/Content/icheck/icheck.min.js"></script>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">添加失信人</h4>
        </div>
        <!--主体内容-->
        <div class="modal-body">
            <form class="form-horizontal" role="form" id="addFrom">
                <div class="form-group">
                    <label class="col-sm-2 control-label">姓名</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="请输入姓名" name="RealName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">年龄</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" placeholder="请输入年龄" name="iAges">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" style="padding-top:0">性别</label>
                    <div class="col-sm-10">
                        <label>男<input class="iSex" name="bSex" type="radio" value="True"></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label>女<input class="iSex" name="bSex" type="radio" value="False"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">身份证号</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="请输入失信人身份证号" name="IDCard">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">执行案号</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="请输入执行案号" name="CaseNum">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">义务</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="请输入义务" name="CaseBiaodi">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">履行情况</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="iExecuteState" name="iExecuteState">
                            <option value="1">部分履行</option>
                            <option value="2">全部未履行</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">具体情况</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="3" name="sCase" placeholder="请输入具体情况"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">上传图片(宽高3:4)</label>
                    <div class="col-sm-10" id="UserPic"> </div>
                    <input type="hidden" name="UserPic" value="" />
                </div>
            
           </form>
        </div>
        <!--主体内容-->
        <div class="modal-footer" style="padding:10px;">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button id="ok" type="button" class="btn btn-primary">确认提交</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var picture = new upload();
        picture.create("UserPic", { height: 120, width: 100 });

        $('.iSex').iCheck({
            labelHover: false,
            cursor: true,
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%'
        });

        var modal = new myBootstarp();
        //添加操作
        $('#ok').on("click", function () {
            var bootstrapValidator = $("#addFrom").data('bootstrapValidator');
            bootstrapValidator.validate();
            var res = bootstrapValidator.isValid();
            if (res) {//验证通过
                //var UserPic = $('#UserPic').next().val();
                //if (UserPic.length == 0) return modal.alert("请上传失信人照片");
                if ($('input[name=bSex]:checked').length == 0)
                    return modal.alert("请选择性别");
                $('#ok').prop("disabled", true);
                modal.Ajax("@(ViewData["Mulu"])/Admin/Sxr/Insert", $("#addFrom").serialize(), function (r) {
                    modal.alert("添加成功");
                    $('#Sxr').datagrid('reload');
                    modal.hideModal();
                });
            }
        });

        //表单验证
        $('#addFrom').bootstrapValidator({
           // live: 'disabled',
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                RealName: {
                    validators: {
                        notEmpty: {
                            message: '姓名不能为空'
                        }
                    }
                },
                iAges: {
                    validators: {
                        notEmpty: {
                            message: '年龄不能为空'
                        },
                        regexp: {
                            regexp: /^\d{1,2}$/,
                            message: '年龄数据错误'
                        },
                    }
                },
                IDCard: {
                    validators: {
                        notEmpty: {
                            message: '身份证号不能为空'
                        },
                        regexp: {
                            regexp: /^(\d{15}$|^\d{18}$|^\d{17}(\d|X|x))$/,
                            message: '身份证号格式错误'
                        },
                    }
                },
                CaseNum: {
                    validators: {
                        notEmpty: {
                            message: '执行案号不能为空'
                        },           
                    }
                },
                CaseBiaodi: {
                    validators: {
                        stringLength: {
                            min: 0,
                            max: 10,
                            message: '义务长度必须在10位之间'
                        },
                    }
                }
            }
        });
    });
</script>
