

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">添加失信人</h4>
        </div>
        <!--主体内容-->
        <div class="modal-body">
            <form class="form-horizontal" role="form" id="addFrom">
                <div class="form-group">
                    <label class="col-sm-2 control-label">姓名</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="请输入姓名" name="RealName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">身份证号</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="请输入失信人身份证号" name="IDCard">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">执行案号</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="请输入执行案号" name="CaseNum">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">执行标的</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="请输入执行标的" name="CaseBiaodi">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">住址</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="请输入住址" name="Adds">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">上传图片(宽高3:4)</label>
                    <div class="col-sm-10" id="UserPic"> </div>
                    <input type="hidden" name="UserPic" value="" />
                </div>
            </form>
        </div>
        <!--主体内容-->
        <div class="modal-footer" style="padding:10px;">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button id="ok" type="button" class="btn btn-primary">确认提交</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var picture = new upload();
        picture.create("UserPic", { height: 120, width: 100 });

        var modal = new myBootstarp();
        //添加操作
        $('#ok').on("click", function () {
            var bootstrapValidator = $("#addFrom").data('bootstrapValidator');
            bootstrapValidator.validate();
            var res = bootstrapValidator.isValid();
            if (res) {//验证通过
                //var UserPic = $('#UserPic').next().val();
                //if (UserPic.length == 0) return modal.alert("请上传失信人照片");
                $('#ok').prop("disabled", true);
                modal.Ajax("@(ViewData["Mulu"])/Admin/Sxr/Insert", $("#addFrom").serialize(), function (r) {
                    modal.alert("添加成功");
                    $('#Sxr').datagrid('reload');
                    modal.hideModal();
                });
            }
        });


        //表单验证
        $('#addFrom').bootstrapValidator({
            live: 'disabled',
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                RealName: {
                    validators: {
                        notEmpty: {
                            message: '姓名不能为空'
                        }
                    }
                },
                IDCard: {
                    validators: {
                        notEmpty: {
                            message: '身份证号不能为空'
                        },
                        regexp: {
                            regexp: /^(\d{15}$|^\d{18}$|^\d{17}(\d|X|x))$/,
                            message: '身份证号格式错误'
                        },
                    }
                },
                //CaseNum: {
                //    validators: {
                //        notEmpty: {
                //            message: '执行案号不能为空'
                //        }
                //    }
                //},
                CaseBiaodi: {
                    validators: {
                        notEmpty: {
                            message: '执行标的不能为空'
                        },
                        regexp: {
                            regexp:/(^[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/,
                            message: '金额数据格式错误'
                        },
                    }
                },
                //Adds: {
                //    validators: {
                //        notEmpty: {
                //            message: '住址不能为空'
                //        }
                //    }
                //},
            }
        });
    });
</script>
