@{
    ViewBag.Title = "菜单列表";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<form id="search_form" style="height:100%">
    <table id="Menu" oncontextmenu="return(false)"></table>
    <div id="Menu_toolbar" style="padding:5px">
        
    </div>
</form>
<script type="text/javascript">
    $(function () {
        var f = new eui();
        var d = new extend();
        var menus = f.config("Admin", "Menu");

        /*!
        * method:菜单数据列表(treegrid)的绑定
        */
        menus.grid.treegrid({
            url: menus.route('List'),
            toolbar: menus.toolbar,
            idField: "ID",//必需的
            treeField: "sMenuName",
            striped: true,
            singleSelect: true,
            loadMsg: "正在加载...",
            columns: [[
                { field: 'sMenuName', title: '菜单名称', align: 'center', width: 250 },// formatter: sModuleName },
                { field: 'sMenuUrl', title: '菜单地址', align: 'center', width: 250 },
                { field: 'iOrder', title: '排序ID', align: 'center', width: 80 },
                { field: 'dInsertTime', title: '添加时间', align: 'center', width: 200 }
            ]],
        });
    });
</script>

