body {
	font-family:"Microsoft YaHei",'Open Sans',"宋体",Verdana, Arial, Helvetica, sans-serif;
	line-height:2;
	margin:0 auto;
	padding: 0px;
	text-align:center;
	background: url(../images/bg.png) no-repeat center top;
	/*拉升背景*/
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	}
/*背景透明*/
.divbgtransparent{
	background:rgba(255, 255, 255, 0.3) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/
	filter:Alpha(opacity=30); background:#fff;/*实现IE背景透明*/
	}
.divbgtransparent p{
	position:relative;
	}/*实现IE文字不透明*/
.divbgtransparent_blue{
	background:rgba(2, 25, 61, 0.7) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/
	filter:Alpha(opacity=70); background:#010f25;/*实现IE背景透明*/
	}
.divbgtransparent_white7{
	background:rgba(255, 2555, 255, 0.7) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/
	filter:Alpha(opacity=70); background:#ffffff;/*实现IE背景透明*/
	}
.textshadow{text-shadow:2px  2px 2px #404141;}
/*盒子阴影*/
.boxshadow1{
	-moz-box-shadow: 2px  4px  5px  #d7d7d7;
	-webkit-box-shadow: 2px  4px  5px  #d7d7d7;
	box-shadow: 2px  4px  5px  #d7d7d7;
	}	
/********** header **********/
.headbox{
	color:#FFF;
	width: 100%;
	height: 215px;
	overflow:hidden;
	background:url(../images/headbg.png) repeat-x top;
	}
.header{
	margin:0 auto;
	width:1080px;
	height:200px;
	}
.fyname{
	margin: 0 auto 0 40px;
	position: relative;
	top: 50%;/*垂直居中*/
	/*left: 50%;*//*水平居中*/
	/*transform: translate(-50%, -50%);*//*垂直水平居中*/
	transform:translateY(-50%);
	width: auto;
	padding-left:120px;
	background: url(../images/fahui.png) no-repeat left center;
	text-shadow:0px 2px 2px #084c8c;/*文字阴影*/
	}
.fyname h1{
	margin-top:50px;
	font-family:'时尚中黑简体','微软雅黑';
	font-size:50px;
	}
.bp{
	width:264px;
	height:190px;
	margin-right:40px;
	background:url(../images/bp.png) no-repeat center center;
	}
/********** main **********/
.mainpage{
	margin:0 auto;
	width:1080px;
	height:1705px;
	}
.shixintab{
	/*min-height:1187px;*/
	padding:0 0 29px 0;
	margin:0 auto;
	border:0;
	background:url(../images/tabbg.png) no-repeat center bottom;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	}
.shixintab .title{
	margin-bottom:10px;
	color:#FFF;
	}
.dTable thead tr{
	text-align:center;
	}
.dTable th{
	height:40px;
	line-height:40px;
	text-align:center;
	}
/*table.display tr { border-bottom: 1px solid #fff; }
table.display td { border-left: 1px solid #fff; }
table.display td:first-child { border-left: none; }
table.display tr.odd.gradeA { background-color: transparent; }
table.display tr.even.gradeA { background-color: #transparent; }
table.display tr.odd.gradeC { background-color: #transparent; }
table.display tr.even.gradeC { background-color: #transparent; }
table.display tr.odd.gradeX { background-color: #transparent; }
table.display tr.even.gradeX { background-color: #transparent; }
table.display tr.odd.gradeU { background-color: #transparent; }
table.display tr.even.gradeU { background-color: #transparent; }

tr.odd { background-color: #transparent; }
tr.even { background-color: transparent; }*/
/********** footer **********/
.footer{
	width:100%;
	height:50px;
	margin:0 auto;
	position:fixed;
	bottom:0;
	}
.copyrights{
	margin: 0 auto;
	width: 1080px;
	height: 50px;
	line-height: 50px;
	background:url(../images/company.png) no-repeat center center;
}









