@{ 
    string[] weekdays = { "星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六" };
    string week = weekdays[Convert.ToInt32(DateTime.Now.DayOfWeek)];
}
@using EFModels.MyModels;
@model UserInfo
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>安居区法院后台管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    <link rel="shortcut icon" href="~/Images/favicon/favicon.png" type="image/x-icon">
    <!--bootstrap引用-->
    <link href="~/Areas/Admin/Content/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/assets/css/ace.min.css" rel="stylesheet" />
    <script src="~/Areas/Admin/Content/assets/js/jquery-2.0.3.min.js"></script>
    <script src="~/Areas/Admin/Content/assets/js/ace.min.js"></script>
    <!--easyui引用-->
    <link href="~/Areas/Admin/Content/easyui/themes/material/tabs.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/easyui/themes/icon.css" rel="stylesheet" />
    <script src="~/Areas/Admin/Content/easyui/jquery.easyui.min.js"></script>
    <style>
        body{
            height:100%;
        }
        html{
            height:100%;
        }
        .nav-list li a{
            cursor:pointer;
        }
    </style>
</head>
<body>

    <!--header-->
    <div class="navbar navbar-default" id="navbar">
        <div class="navbar-container" id="navbar-container">
            <div class="navbar-header pull-left">
                <a href="#" class="navbar-brand">
                    <small>
                        <i class="icon-leaf"></i>
                        安居区法院后台管理系统
                    </small>
                </a>
            </div>
            <div class="navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">   
                    <li>
                        <span style="color:white">@DateTime.Now.ToString("yyyy年MM月dd日") @week</span>      
                    </li>
                    @*<li class="green">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="icon-envelope icon-animated-vertical"></i>
                            <span class="badge badge-success">5</span>
                        </a>     
                    </li>*@
                    <li class="light-blue" style="border:none">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" src="~/Areas/Admin/Content/assets/avatars/user.jpg" alt="Jason's Photo" />
                            <span class="user-info">
                                <small>欢迎光临</small>
                                @Model.sUserName
                            </span>
                            <i class="icon-caret-down"></i>
                        </a>
                        <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close"
                             style="top:100%">
                            @*<li>
                                <a href="#">
                                    <i class="icon-cog"></i>
                                    设置
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="icon-user"></i>
                                    个人资料
                                </a>
                            </li>*@

                            @*<li class="divider"></li>*@

                            <li>
                                <a href="#" class="quit">
                                    <i class="icon-off"></i>
                                    退出
                                </a>
                            </li>
                        </ul>
                    </li>
                    @*<li class="light-blue" style="border:none">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" src="~/Areas/Admin/Content/assets/avatars/user.jpg" alt="Jason's Photo" />
                            <span class="user-info">
                                <small>Welcome,</small>
                                Jason
                            </span>
                            <i class="icon-caret-down"></i>
                        </a>    
                    </li>*@
                </ul>
            </div>
        </div>
    </div>
    <!--Content-->
    <div class="main-container" id="main-container" style="height:92%">
        <div class="main-container-inner" style="height:100%">
            <a class="menu-toggler" id="menu-toggler" href="#">
                <span class="menu-text"></span>
            </a>
            <!--左侧菜单栏目-->
            <div class="sidebar" id="sidebar">
                <div class="sidebar-shortcuts" id="sidebar-shortcuts">

                </div>
                <ul class="nav nav-list">
                    <li class="active">
                        <a>
                            <i class="icon-dashboard"></i>
                            <span class="menu-text"> 栏目控制台 </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle">
                            <i class="icon-text-width"></i>
                            <span class="menu-text">人员评价</span>
                            <b class="arrow icon-angle-down"></b>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a >
                                    <i class="icon-double-angle-right"></i>
                                    <span data-url="/Admin/User/Index">管理法官</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a class="dropdown-toggle">
                            <i class="icon-linkedin"></i>
                            <span class="menu-text">失信人管理</span>

                            <b class="arrow icon-angle-down"></b>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a >
                                    <i class="icon-double-angle-right"></i>
                                    <span data-url="/Admin/Sxr/Index">管理失信人</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a  class="dropdown-toggle">
                            <i class="icon-user-md"></i>
                            <span class="menu-text">开庭管理</span>

                            <b class="arrow icon-angle-down"></b>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a >
                                    <i class="icon-double-angle-right"></i>
                                    <span data-url="/Admin/Laws/Index">庭室管理</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <i class="icon-double-angle-right"></i>
                                    <span data-url="/Admin/LawsCase/Index">开庭管理</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a  class="dropdown-toggle">
                            <i class="icon-file-text-alt"></i>
                            <span class="menu-text">调解管理</span>
                            <b class="arrow icon-angle-down"></b>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a>
                                    <i class="icon-double-angle-right"></i>
                                    <span data-url="/Admin/TjRoom/Index">调解室管理</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <i class="icon-double-angle-right"></i>
                                    <span data-url="/Admin/TjCase/Index">调解案件管理</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <div class="sidebar-collapse" id="sidebar-collapse">
                    <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
                </div>
            </div>

            <!--内容区域-->
            <div class="main-content" style="height:100%">
                <!--栏目导航栏-->
                @*<div class="breadcrumbs" id="breadcrumbs" style="height:5%">
                        <ul class="breadcrumb">
                            <li>
                                <i class="icon-home home-icon"></i>
                                <a href="javascript:history.go(0);">Home</a>
                            </li>
                        </ul>
                        <div class="nav-search" id="nav-search">
                            <form class="form-search">
                                <span class="input-icon">
                                    <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                                    <i class="icon-search nav-search-icon"></i>
                                </span>
                            </form>
                        </div>
                    </div>*@

                <!--栏目内容区域-->
                <div class="page-content" style="height:100%">
                    <div id="tabs" class="easyui-tabs" data-options="fit:'true',tabHeight:35">
                        <div title="首页" style="padding:10px;">
                            <p>
                                欢迎!
                        </div>
                    </div>
                </div>
                @*<div style="text-align:center;height:30px;">©2008-2017 www.cdelink.net, Inc. All rights reserved. 成都宜联科技有限责任公司</div>*@
            </div>
            <!--内容区域-->
        </div>
    </div>
    <div style="text-align:center;position: relative; background: white; width: 100%;height:3%;padding-top:2px">
        <div>&copy;2008-@DateTime.Now.Year <a href="http://www.cdelink.net" target="_blank" title="宜联科技">www.cdelink.net</a>, Inc. All rights reserved. 成都宜联科技有限责任公司</div>
    </div>
</body>
</html>
<script type="text/javascript">
    $(function () {

        window.onresize = function () {
            $('#tabs').tabs('resize');
        }

        //绑定菜单点击事件
        $('.submenu a').on("click", function () {
            var sTitle = $(this).find('span').text();
            var sUrl = $(this).find('span').attr('data-url');
            if ($('#tabs').tabs("getTab", sTitle))
                $('#tabs').tabs("select", sTitle);
            else {
                $('#tabs').tabs('add', {
                    title: sTitle,
                    content: '<iframe scrolling="auto" frameborder="0"  src="' + sUrl + '" width="100%" height="100%" style="display:-webkit-box";></iframe>',
                    closable: true,
                });
            }
        });

        //绑定头像下拉菜单
        $('.icon-caret-down').on("click", function () {
            $(this).parent().next().toggle();
        });

        //绑定导航栏的控制
        $('#sidebar-collapse').on("click", function () {
            event.stopPropagation();
            if ($('#sidebar').hasClass('menu-min'))
                $('#sidebar').removeClass('menu-min');
            else
                $('#sidebar').addClass('menu-min');
        });

        //退出
        $('.quit').on("click", function () {
            $.ajax({
                url: "/Admin/User/Quit",
                type: 'POST',
                dataType: 'json',
                success: function (r) {
                    if (r.success)
                        window.location.href = "/Admin/User/Login";
                    else
                        alert("退出失败");
                }
            });
        });
    });

    var domin = function (obj) { return obj; }(new function () {

    });
</script>
