

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">添加调解室</h4>
        </div>
        <!--主体内容-->
        <div class="modal-body">
            <form class="form-horizontal" role="form" id="addFrom">
                <div class="form-group">
                    <label class="col-sm-2 control-label">名称</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="请输入调解室名称" name="RoomName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">排序</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" placeholder="请输入调解室排序" name="RoomOrder">
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-2 control-label">状态选择</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="RoomState" name="RoomState">
                            <option value="False">开放</option>
                            <option value="True">关闭</option>
                        </select>
                    </div>
                </div>
                @*<div class="form-group">
                    <label class="col-sm-2 control-label">上传图片</label>
                    <div class="col-sm-10" id="RoomPic"></div>
                    <input type="hidden" name="RoomPic" value="" />
                </div>*@
            </form>
        </div>
        <!--主体内容-->
        <div class="modal-footer" style="padding:10px;">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button id="ok" type="button" class="btn btn-primary">确认提交</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var picture = new upload();
        picture.create("RoomPic", { height: 120, width: 120 });

        var modal = new myBootstarp();
        //添加操作
        $('#ok').on("click", function () {
            var bootstrapValidator = $("#addFrom").data('bootstrapValidator');
            bootstrapValidator.validate();
            var res = bootstrapValidator.isValid();
            if (res) {//验证通过
                $('#ok').prop("disabled", true);
                modal.Ajax("@(ViewData["Mulu"])/Admin/TjRoom/Insert", $("#addFrom").serialize(), function (r) {
                    modal.alert("添加成功");
                    $('#TjRoom').datagrid('reload');
                    modal.hideModal();
                });
            }
        });
        //表单验证
        $('#addFrom').bootstrapValidator({
          //  live: 'disabled',
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                trigger: "change",
                RoomName: {
                    validators: {
                        notEmpty: {
                            message: '调解室名称不能为空'
                        }
                    }
                },
                RoomOrder: {
                    validators: {
                        notEmpty: {
                            message: '请输入调解室排序'
                        }
                    }
                },
            }
        });
    });
</script>

