
<!--添加法官案件视图-->
@using EFModels;
@{
    var list = ViewBag.roomList as List<JudgeStudio>;
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">添加案件</h4>
        </div>
        <!--主体内容-->
        <div class="modal-body">
            <form class="form-horizontal" role="form" id="addFrom">
                <div class="form-group">
                    <label class="col-sm-2 control-label">法官工作室</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="iJudgeStudioId" name="iJudgeStudioId">
                            @foreach (var m in list)
                            {
                                <option value="@m.ID">
                                    @m.sJobName
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">预计时间</label>
                    <div class="col-sm-10">
                        <input type="text" id="dPreStaTime" name="dPreStaTime" class="form-control" readonly="readonly" value="@DateTime.Now.ToString("yyyy/MM/dd HH:mm:ss")"
                               style="width:38%;float:left;cursor: pointer" placeholder="点击选择开始时间" onClick="WdatePicker({dateFmt:'yyyy/MM/dd HH:mm:ss'})">
                        <input type="text" id="dPreEndTime" class="form-control" readonly="readonly"
                               name="dPreEndTime" style="width:38%;float:left;margin-left:10px;cursor: pointer" placeholder="点击选择结束时间" onClick="WdatePicker({dateFmt:'yyyy/MM/dd HH:mm:ss'})">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">调解事项</label>
                    <div class="col-sm-10">
                        <textarea id="sCaseIntroduce" name="sCaseIntroduce" style="width:100%;"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <!--主体内容-->
        <div class="modal-footer" style="padding:10px;">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button id="ok" type="button" class="btn btn-primary">确认提交</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var editor = new kindeditor();
        editor.create("#sCaseIntroduce");

        var modal = new myBootstarp();
    
        //添加操作
        $('#ok').on("click", function () {
            var bootstrapValidator = $("#addFrom").data('bootstrapValidator');
            bootstrapValidator.validate();
            var res = bootstrapValidator.isValid();
            if (res) {//验证通过
                var StaTime = $('#dPreStaTime').val();//开始时间
                var EndTime = $('#dPreEndTime').val();//结束时间
                if (StaTime.length == 0 || EndTime.length == 0) return modal.alert("预计开始和结束时间必填");
                if (new Date(EndTime).getTime() - new Date(StaTime).getTime() <= 0) return modal.alert("结束时间必须大于开始时间");

                var sCaseIntroduce = editor.gethtml();
                if (sCaseIntroduce.length == 0) return modal.alert("调解事项必填");

                var params = $("#addFrom").serializeArray().toObject();
                params.sCaseIntroduce = sCaseIntroduce;
                $('#ok').prop("disabled", true);
                modal.Ajax("@(ViewData["Mulu"])/Admin/JudgeStudioCase/Insert", params, function (r) {
                    modal.alert("添加成功");
                    $('#JudgeStudioCase').datagrid('reload');
                    modal.hideModal();
                });
            }
        });
        //表单验证
        $('#addFrom').bootstrapValidator({
            //live: 'disabled',
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                iJudgeStudioId: {
                    validators: {
                        notEmpty: {
                            message: '请选择法官工作室'
                        }
                    }
                },
                sCaseIntroduce: {
                    validators: {
                        notEmpty: {
                            message: '调解事项不能为空'
                        }
                    }
                },
            }
        });
    });
</script>

