<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <typeAliases>
    <!--查询接口-->
    <typeAlias alias="IReading"  type="DapperHelper.IReading,DapperHelper" />
    <typeAlias alias="SqlDbBase" type="DapperHelper.SqlDbBase,DapperHelper" />
    <!--操作接口-->
    <typeAlias alias="IWriting"    type="EFBaseHelper.IWriting,EFBaseHelper" />
    <typeAlias alias="WriteManage" type="EFBaseHelper.WriteManage,EFBaseHelper" />
    
    <!--方法接口配置-->
      <!--后台用户接口-->
    <typeAlias alias="IAdminUser"    type="Sevices.IAdminUser,Sevices" />
    <typeAlias alias="AdminUserServices" type="Sevices.AdminUserServices,Sevices" />
    <!--
    <typeAlias alias="IBookRepository" type="BusinessBackend.IBookRepository, BusinessBackend" />
    <typeAlias alias="BookRepository" type="BusinessBackend.BookRepository, BusinessBackend" />-->
    <!--方法接口配置-->
  </typeAliases>
  <container>
    <!--查询操作的映射-->
    <register type="IReading" mapTo="SqlDbBase" />
    <register type="IWriting" mapTo="WriteManage" />
    <!--查询操作的映射-->

    <!--方法的映射-->
          <!--后台用户的映射-->
    <register type="IAdminUser" mapTo="AdminUserServices" />
    
    
    <!--<register type="IBookRepository" mapTo="BookRepository" name="SQLrepo" />-->
    <!--方法的映射-->
  </container>
</unity>